body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: monospace;
  font-size:large;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff1bb;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}
.imageKoti:hover {
background-color:#ff0000;
padding: 20px;
height: 100px;
width: 100px;
}
.imageKoti {
  height: 100px;
  width: 100px;
  }
path{
  fill:#ff0000;
}
 path:hover {
  fill: rgb(0, 0, 0);
}

.imageCards:hover{
  background-color: #FFCC00;
  padding: 0px;
}